@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <span>MTG Importer for Tabletop Simulator</span>
            <a href="https://github.com/madelson/TabletopSimulatorMTGDeckImporter" target="_blank" class="ml-md-auto">GitHub</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
